/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body * {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input,
textarea,
select {
  font-weight: 400;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0px none;
}
select::-ms-expand {
  display: none;
}
a {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
a,
a:link,
a:visited,
a:active,
a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
b {
  font-weight: 700;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
html {
  background: url("http://semicorpus.com/yarden/backgr-flower-blur.png");
  background-size: cover;
}
body {
  background: #110725;
  color: #e8dff6;
  font-family: "Titillium Web", sans-serif;
  overflow: hidden; /*transform:scale(.9);*/
}
h1,
h2,
h4,
h6 {
  transform: scaleY(0.9);
}
a {
  color: #e8dff6;
}
p {
  color: #fff;
}
.body-overlay {
  font-weight: 300;
}

.container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-height: 100%;
}

.outer-top {
  background: #110725;
  padding: 40px 55px;
  height: 115px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
}
.outer-top .aka {
  font-size: 1.8em;
  display: inline-block;
  letter-spacing: 8px;
  padding-top: 5px;
  width: 12%;
}
.outer-top .aka a {
  color: #da8335;
}
.outer-top .btn-explore {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  vertical-align: top;
  width: 72%;
}
.outer-top .btn-explore svg {
  fill: #fff;
  margin: 0 10px;
  vertical-align: middle;
  opacity: 0.6;
  transform: rotate(137deg) scaleX(0.8);
}
.outer-top .btn-explore a {
  font-size: 1.2em;
  letter-spacing: 1px;
}
.outer-top .btn-burger {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 45px;
}
.outer-top .btn-burger img {
  width: 20px;
}
.outer-top .btn-burger:hover {
  box-shadow: inset -3px 5px 15px rgba(213, 78, 24, 0.1),
    0px 0px 15px rgba(213, 78, 24, 0.2);
  opacity: 0.5;
}

.leftandin {
  width: 100%;
  z-index: 3;
}
.leftandin2 {
  top: 115px;
  bottom: 0;
  opacity: 0;
  width: 100%;
  z-index: 3;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1000; /* Ensure it's above other content */
}

.container {
  /* Adjust the positioning as needed */
  position: relative;
  z-index: 1001; /* Ensure it's above the overlay */
}
.outer-left {
  background: #110725;
  display: inline-block;
  min-height: calc(100vh - 115px);
  height: 100%;
  padding: 45px 60px;
  width: 20%;
}
.outer-left .timeline {
  font-size: 1.1em;
  letter-spacing: 1.5px;
  padding-top: 14%;
  z-index: 1;
}
.outer-left .headline {
  font-size: 7em;
  font-weight: 700;
  line-height: 90px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
}
.outer-left .title {
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 50px;
  padding: 20px 110px;
  position: absolute;
  margin-top: 8.5em;
  z-index: 1;
}
.outer-left .description {
  font-size: 1.3em;
  position: absolute;
  margin-top: 15.5em;
  padding: 0 110px;
  z-index: 1;
  width: 39em;
}

.outer-left .cta {
  background: rgb(213, 113, 24);
  background: -moz-linear-gradient(
    120deg,
    rgba(213, 113, 24, 1) 0%,
    rgba(214, 0, 59, 1) 72%
  );
  background: -webkit-linear-gradient(
    120deg,
    rgba(213, 113, 24, 1) 0%,
    rgba(214, 0, 59, 1) 72%
  );
  background: linear-gradient(
    120deg,
    rgba(213, 113, 24, 1) 0%,
    rgba(214, 0, 59, 1) 72%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d57118",endColorstr="#d6003b",GradientType=1);
  border: none;
  border-radius: 20em;
  box-shadow: -1px 2px 7px rgba(213, 78, 24, 0.4),
    1px -1px 7px rgba(7, 6, 25, 0.4);
  color: #e8dff6;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-left: 140px;
  margin-top: 24em;
  padding: 0.8em 3em;
  position: absolute;
  text-shadow: 0px 0px 3px rgba(200, 200, 200, 0.4);
  transition: background-size 0.9s ease-in;
  z-index: 1;
}
.outer-left .cta:hover {
  backface-visibility: hidden;
  background-size: 150%;
  box-shadow: 1px 2px 7px rgba(213, 78, 24, 0.3),
    1px 1px 10px rgba(7, 6, 25, 0.3);
  cursor: pointer;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  transition: background-size 0.9s ease-in;
  transform: scale(0.98) !important;
}

.inner {
  border-top-left-radius: 50vh;
  box-shadow: inset 0 14px 5px rgba(0, 0, 0, 0.2),
    inset 0 14px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  min-height: calc(100vh - 115px);
  vertical-align: top;
  position: absolute;
  right: 0;
  width: 80%;
}
#inner1 {
  background: url("http://semicorpus.com/yarden/backgr-flower.png");
  background-size: cover;
}
#inner2 {
  background: url("http://semicorpus.com/yarden/backgroundflowers.jpg");
  background-size: cover;
}

.inner .toggler {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.inner .toggler a {
  font-size: 3em;
  color: #e8dff6;
  opacity: 0.6;
  text-align: center;
  height: 1.8em;
  border-radius: 10em;
  width: 2em;
  z-index: 2;
}
.inner .toggler a:hover {
  opacity: 0.9;
  transform: scale(1.03);
}
.inner .previous-article {
  position: absolute;
  bottom: 8em;
  right: 0;
}
.inner .next-article {
  position: absolute;
  bottom: 6em;
  right: 0;
}
.inner .article-position {
  color: #e8dff6;
  font-size: 0.4em;
  font-weight: 700;
  letter-spacing: -2px;
}
/* - TOOLS - */

/* for Animations :
*/
.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

body {
  transform: scale(0.9);
  border-radius: 40px;
}
.container {
  border-radius: 40px;
}
.outer-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.outer-left {
  border-bottom-left-radius: 40px;
}
.leftandin {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.inner {
  border-bottom-right-radius: 40px;
}

/* for JS :
*/
.displaynone {
  display: none;
}
.display {
  display: block;
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .outer-top .aka {
    font-size: 1.2em;
    padding-top: 6px;
    width: 12%;
  }
  .outer-left .timeline {
    position: relative;
    width: 250px;
  }
  .outer-left .headline {
    font-size: 6em;
    font-weight: 700;
    line-height: 75px;
    padding: 30px 0;
  }
  .outer-left .title {
    font-size: 1.7em;
    line-height: 50px;
    padding: 20px 0px;
    margin-top: 9em;
  }
  .outer-left .description {
    font-size: 1.3em;
    margin-top: 15em;
    padding: 20px 0;
  }
  .outer-left .cta {
    margin-left: 33%;
  }
}

@media only screen and (max-width: 567px) {
  .outer-top {
    background: #110725;
    padding: 20px 30px;
  }
  .outer-top .aka {
    font-size: 1.2em;
    padding-top: 6px;
    width: 12%;
  }
  .outer-top .btn-explore {
    border-top: 1px solid rgba(182, 159, 217, 0.1);
    text-align: left;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
  }
  .outer-top .btn-explore svg {
    margin: 0 0 0-10px;
  }
  .outer-top .btn-burger {
    top: 30px;
    right: 30px;
  }

  .outer-left {
    padding-left: 30px;
  }
  .outer-left .timeline {
    position: relative;
    width: 250px;
  }
  .outer-left .headline {
    font-size: 4em;
    font-weight: 700;
    line-height: 60px;
    padding: 30px 0;
    width: 250px;
  }
  .outer-left .title {
    font-size: 1.7em;
    line-height: 50px;
    padding: 20px 0px;
    margin-top: 10em;
  }
  .outer-left .description {
    font-size: 1.3em;
    margin-top: 17em;
    padding: 20px 0;
    width: 230px;
  }
  .outer-left .cta {
    margin: 31em 10% 3em 5%;
    width: 80%;
  }

  .inner {
    border-top-left-radius: 25vh;
  }
}
